[Unit]
Description=EBYTE E22900T22U to MQTT server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/e22900t22utomqtt/e22900t22utomqtt /opt/e22900t22utomqtt/e22900t22utomqtt.cfg
ExecReload=kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

